body {
	margin-top: 1.0em;
  font-family: monospace;
  color: #000000;
}

#container {
  margin: 0 auto;
  width: 900px;
}

#nav {
	float: left;
	width: 10%;
	padding: 1em;
	margin-top: 5%;
	font-size: 1.5em;
}

#nav ul {
	margin: 0em;
	padding: 0em;
	list-style: none;
	text-align: center;
	line-height: 3em;
}

#nav a {
	text-decoration: none;
}

h1 { 
	font-size: 3.8em;  
	margin-bottom: 3px; 
}

h1 .small { 
	font-size: 0.4em; 
}

h1 a { 
	text-decoration: none 
}

h2 { 
	font-size: 1.5em;
}

h3 { 
	text-align: center; 
}

a {
	color: #000000;
}

a:hover { 
	text-decoration: none;
	background-color: #000000;
	color: #FFFFFF; 
}

a.no:hover {
	text-decoration: none;
	background-color: #FFFFFF;
	color: #000000;	
}

p sup {
	color: #C00;
}

.description { 
	font-size: 1.2em; 
	margin-bottom: 30px;
	margin-top: 30px; 
	font-style: italic;
}

.download { 
	float: right;
	line-height: 3em;
}

.sourcecode {
	float: left;
	width: 390px;
	height: 300px;
}

.output {
	float: right;
	width: 500px;
	height: 300px;
}

.plus {
	margin-top: 3px;
}

pre.bash { 
	background: #000; 
	color: #fff; 
	padding: 15px;
}

hr { 
	border: 0; 
	width: 80%; 
	border-bottom: 
	1px solid #aaa
}

.footer {
	text-align:center; 
	padding-top:30px; 
	font-style: italic; 
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
